:root {
  --flex-green: rgba(141, 215, 144, 1);
  --flex-yellow: rgba(255, 239, 152, 1);
  --flexblue: rgba(72, 132, 226, 1);
  --flexred: rgba(255, 118, 118, 1);
  --headline-font: rgba(65, 65, 65, 1);
}
