.desktop {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desktop .overlap-wrapper {
  background-color: #ffffff;
  height: 2409px;
  width: 1920px;
}
.group {
  position : relative;
  height: 372px;
  
  width: 1402px;
}
.desktop .overlap {
  height: 2409px;
  position: relative;
}

.desktop .overlap-group {
  height: 2409px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.desktop .imgr {
  height: 1118px;
  left: 464px;
  position: absolute;
  top: 0;
  width: 1626px;
}

.desktop .rectangle {
  background-color: #a2bcff;
  height: 1559px;
  left: 0;
  position: absolute;
  top: 850px;
  width: 1920px;
}

.desktop .ellipse {
  background-color: #ffffff;
  border-radius: 48.5px;
  filter: blur(39.2px);
  height: 97px;
  left: 206px;
  position: absolute;
  top: 893px;
  width: 97px;
}

.desktop .text-wrapper {
  color: #000000;
  font-family: "Averta CY-Bold", Helvetica;
  font-size: 56.6px;
  font-weight: 700;
  left: 255px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 906px;
}

.desktop .group {
  height: 372px;
  left: 255px;
  position: absolute;
  top: 1050px;
  width: 1402px;
}

.desktop .div-wrapper {
  background-color: #ffffff;
  border-radius: 23px;
  height: 372px;
  position: relative;
  width: 1400px;
}

.desktop .div {
  color: #000000;
  font-family: "Averta CY-Bold", Helvetica;
  font-size: 56.6px;
  font-weight: 700;
  left: 48px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 41px;
}

.desktop .overlap-group-wrapper {
  height: 372px;
  left: 255px;
  position: absolute;
  top: 1495px;
  width: 1402px;
}

.desktop .group2 {
  height: 372px;
  left: 255px;
  position: absolute;
  top: 1940px;
  width: 1402px;
}

.desktop .frame {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 29px;
  left: 255px;
  position: absolute;
  top: 180px;
}

.desktop .text-wrapper2 {
  color: #000000;
  font-family: "Averta CY-Bold", Helvetica;
  font-size: 56.6px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: 405px;
}

.desktop .text-wrapper3 {
  color: #000000;
  font-family: "Averta CY-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.desktop .an-creative {
  color: #000000;
  font-family: "Averta CY-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 394px;
}



.label .an-creative {
  color: #000000;
  font-family: "Averta CY-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  
  letter-spacing: 0;
  line-height: normal;
  
  
  width: 394px;
}