.desktop {
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  flex-wrap: nowrap;
  align-items: center;
}


.group, .group1, .group2 {
  position : relative;
  padding:40px 0 0;
  height:400px;
  width: 1402px;
}


.desktop .overlap-group {
  left: 0;
  position: relative;
  top: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.desktop .imgr {
  height: 1118px;
  left: 464px;
  position: absolute;
  top: 0;
  width: 1626px;
}

.hero {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 1402px;
  height: 83vh;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.grids{
  position:fixed;
  z-index: -99;
 
  top:0;
  left:0;
  width:100vw;
  height:300vh;
}

.desktop .rectangle {
  
  
  left: 0;
  position: relative;
  top:-5vh;
  display: flex;
  flex-direction: column;
  width:100vw;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
}

.desktop .ellipse {
  background-color: #ffffff;
  border-radius: 48.5px;
  filter: blur(39.2px);
  height: 97px;
  left: 206px;
  position: absolute;
  top: 893px;
  width: 97px;
}

.desktop .text-wrapper {
  color: #1D1D1D;
  font-family: "Averta CY-Bold", Helvetica;
  font-size: 56.6px;
  font-weight: 700;
  padding:60px 0;
  letter-spacing: 0;
  line-height: normal;
  
}
.desktop .text-wrapper1-2 {
  border-radius:20px;
  border: 3px solid #000;
  box-shadow: 0 0 20px 0 #32250f;
  background-color: #fff;
  padding: 10px 20px;
  color: #1D1D1D;
  font-family: "Averta CY-Semibold", Helvetica;
  font-size: 46px;
  font-weight: 500;
  letter-spacing: 0;
  border-radius: 19px;
  line-height: normal;
  transition-duration: 300ms;
  
}

.desktop .text-wrapper1-2:hover {
  box-shadow: 0 0 0 0 #bf913a;
}
.titlewrap {
  position: relative;
  display: flex;
  right: 354px;
  width: 701px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

 .img1 {
  height: 396px;
  object-fit: cover;
  position: absolute;
  width: 500px;
  
}
.img2 {
      height: 439px;
      left: 1028px;
      position: relative;
      height: 439px;
    
    top: 5px;
  
      width: 317px;
}
.img3 {
  height: 364px;
  left: 1027px;
  position: relative;
  top: 31px;
  width: 266px;
}

.imgbox {
  position:absolute;
  left: 892px;
    width: 500px;
    height: 395px;
  overflow:hidden;
}
.read{
  position: absolute;
  border-radius: 0 0 8px 8px;
  height: 57px;
  background-color: black !important;
  width: 250px;
  left: 574px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.read p{
  font-family: "Averta CY-Semibold", Helvetica;
  font-size: 24px; 
  color:white;
}
.desktop .div-wrapper, .div-wrapper2, .div-wrapper3 {
  position: relative;
  border-radius: 23px;
  border: 3px solid #000;
  box-shadow: 0 0 57.1px 0 #a5a5a5;
  background-color: #fff;
  display: flex;
  height: 401px;
  width:1400px;
  justify-content: flex-start;
  font-size: 20px;
  color: #000;
  font-weight: 700;
  padding: 0 14px 0 48px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.desktop .text-wrapper-6 {
  color: #1D1D1D;
  font-family: "Averta CY-Bold", Helvetica;
  font-size: 36px;
  font-weight: 700;
  padding: 10px 0;
  letter-spacing: 0;
  line-height: normal;
  position:relative;
  
}

.desktop .text-wrapper-7 {
  color: #1D1D1D;
  font-family: "Averta CY-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  padding: 5px 0;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  
}
.contact {
  position:relative;
  background-color: white;
}
.desktop .text-wrapper-8 {
  color: #1D1D1D;
  font-family: "Averta CY-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  padding: 5px 0;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  
}


.btnbox {
  position :relative;
  top: 5vh;
  width:74vw;
  display:inline-flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.btnbox button {
  z-index: 2;
  display:inline-flex;
  align-items: center;
    padding: 0 27px;
    height: 44px;
    width: auto;
    background-color: #1D1D1D;
    color: #D7D7D7;
    font-family: "Averta CY-Semibold", Helvetica;
    border-radius: 16px;
    font-size: 18px;
    border-style: none;
}
.btnbox button span {
  cursor: pointer;
}
.round {
  display:block;
  height:12px;
  width:12px;
  border-radius: 8px;
  background-color: #71FFA1;
}


.image {
  position: absolute;
  height: 92vh;
  width: auto;
  left: 10vw;
    top: 2px;
    overflow:hidden;;
    
}


.image .guy {
  height: auto;
  
  object-fit: cover;
  position: relative;
  top: -3px;
  width: 70vw;
}

.desktop .div {
  color: #1D1D1D;
  font-family: "Averta CY-Bold", Helvetica;
  font-size: 56.6px;
  font-weight: 700;
  padding: 30px 0 0 0;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  right: 3px;
  
}

.casestudy{
  position: absolute;
  font-family: "Averta CY-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  top: 332px;
    
  
}
.uxdetail{
position:relative;
 padding: 15px 0;
  

}
.uxdetail p {
  width:35vw;
}
.uxdetail p:first-child {
  font-family: "Averta CY-Regular", Helvetica;
  font-weight: 400;
  font-size: 20px;
}

.uxdetail p:last-child {
  font-family: "Averta CY-Regular", Helvetica;
  padding:10px 0 0 0;
  font-weight: 400;
  font-size: 16px;
}
.footer{
  position: relative;
  padding:40px 0;
  width: 1402px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
  
}
.desktop .frame {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 14px;
  
  position: relative;}
  

.desktop .text-wrapper2 {
  color: #1D1D1D;
  font-family: "Averta CY-Bold", Helvetica;
  font-size: 56.6px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: 405px;
}

.desktop .text-wrapper3 {
  color: #1D1D1D;
  font-family: "Averta CY-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

 .ancreative {
  color: #1D1D1D;
  font-family: "Averta CY-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 30vw;
}



/* .an-creative {
  color: #1D1D1D;
  font-family: "Averta CY-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  
  letter-spacing: 0;
  line-height: normal;
  
  
  width: 45px;
} */

.Card {
  padding: 0 0 60px 0;
}
@media screen and (max-width: 480px) {
  .desktop {
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    flex-wrap: nowrap;
    align-items: center;
  }
  .Card {
    padding: 0 0 30px 0;
  }
  
  .group, .group1, .group2 {
    position : relative;
    padding:40px 0 0;
    height:400px;
    width: 1402px;
  }
  
  
  .desktop .overlap-group {
    left: 0;
    position: relative;
    top: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
  
  .desktop .imgr {
    height: 1118px;
    left: 464px;
    position: absolute;
    top: 0;
    width: 1626px;
  }
  
  .hero {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 80vw;
    height: 90vh;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  
  
  .desktop .rectangle {
   
    
    left: 0;
    position: relative;
    
    display: flex;
    flex-direction: column;
    width:100vw;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
  }
  
  
  
  .desktop .text-wrapper {
    color: #1D1D1D;
    font-family: "Averta CY-Bold", Helvetica;
    font-size: 28px;
    font-weight: 600;
    padding: 8px 0;
    letter-spacing: 0;
    line-height: normal;
    
  }
  .desktop .text-wrapper1-2 {
    border-radius:2px;
    border: 1.5px solid #000;
    box-shadow: 0 0 20px 0 #32250f;
    background-color: #fff;
    padding: 4px 5px;
    color: #1D1D1D;
    font-family: "Averta CY-Semibold", Helvetica;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    border-radius: 19px;
    line-height: normal;
    transition-duration: 300ms;
    
  }
  
  .desktop .text-wrapper1-2:hover {
    box-shadow: 0 0 0 0 #bf913a;
  }

  .titlewrap {
    position: relative;
    display: flex;
    right: 0px;
    width: 90vw;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
  }
  
   .img1 {
    height: 262px;
    object-fit: cover;
    position: absolute;
    width: 342px;
    border-radius: 10px;
    opacity: 0.5;
    
  }
  .img2 {
        height: 439px;
        left: 1028px;
        position: relative;
        height: 439px;
      
      top: 5px;
    
        width: 317px;
  }
  .img3 {
    height: 364px;
    left: 1027px;
    position: relative;
    top: 31px;
    width: 266px;
  }
  
  .imgbox {
    position: absolute;
    left: 7px;
    width: 496px;
    height: 395px;
    overflow: hidden;
    top: 133px;
  }
  .read{
    position: absolute;
    border-radius: 0 0 8px 8px;
    height: 57px;
    background-color: black !important;
    width: 250px;
    left: 574px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .read p{
    font-family: "Averta CY-Semibold", Helvetica;
    font-size: 24px; 
    color:white;
  }
  .desktop .div-wrapper, .div-wrapper2, .div-wrapper3 {
    position: relative;
    border-radius: 15px;
    border: 1.5px solid #000;
    box-shadow: 0 0 57.1px 0 #5e5e5e;
    background-color: #fff;
    display: flex;
    height: 47vh;
    width: 90vw;
    justify-content: flex-start;
    font-size: 20px;
    color: #000;
    font-weight: 700;
    padding: 0 20px 0 20px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;

  }
  
  .desktop .text-wrapper-6 {
    color: #1D1D1D;
    font-family: "Averta CY-Bold", Helvetica;
    font-size: 36px;
    font-weight: 700;
    padding: 10px 0;
    letter-spacing: 0;
    line-height: normal;
    position:relative;
    
  }
  
  .desktop .text-wrapper-7 {
    color: #1D1D1D;
    font-family: "Averta CY-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    padding: 5px 0;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    
  }
  .contact {
    position:relative;
    background-color: white;
  }
  .desktop .text-wrapper-8 {
    color: #1D1D1D;
    font-family: "Averta CY-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    padding: 5px 0;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    
  }
  
  
  
  
  
  
  
  .image {
    position: absolute;
      height:90vh;
      width:auto !important;
      left: -200px;
      top: 2px;
      overflow:hidden;;
      
  }
  
  .image .guy {
    height: 1016px;
    /* left: 807px; */
    object-fit: cover;
    position: relative;
    top: 22px;
    width:auto;
  }
  
  .desktop .div {
    color: #1D1D1D;
    font-family: "Averta CY-Bold", Helvetica;
    font-size: 40px;
    font-weight: 700;
    padding: 20px 0 0 0;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    right: 3px;
    
  }
  
  .casestudy{
    background-color: white;
    position: absolute;
    font-family: "Averta CY-Bold", Helvetica;
    font-size: 18px;
    font-weight: 700;
    top: 335px;
    padding: 10px;
    
    border-radius: 10px;
    box-shadow: 0 0 20px 0 #666666;
      
    
  }
  .ancreative {
    
    font-size: 16px;
    
    width: 80vw;
  }
  .uxdetail{
  position:relative;
   padding: 15px 0;
    
  
  }
  .uxdetail p:first-child {
    font-family: "Averta CY-Regular", Helvetica;
    font-weight: 400;
    font-size: 16px;
  }
  
  .uxdetail p:last-child {
    font-family: "Averta CY-Regular", Helvetica;
    padding:10px 0 0 0;
    font-weight: 400;
    font-size: 14px;
  }
  .footer{
    position: relative;
    
    
    padding:40px 0;
    width: 90vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
    
  }
  .desktop .frame {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 14px;
    z-index: 1;
    width:90vw;
    background-color: #d5d5d57a;
    backdrop-filter: blur(10px);
    padding: 24px;
    position: relative;
    border-radius: 25px;
    }
    
  
  .desktop .text-wrapper2 {
    color: #1D1D1D;
    font-family: "Averta CY-Bold", Helvetica;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: 70vw;
  }
  
  .desktop .text-wrapper3 {
    color: #1D1D1D;
    font-family: "Averta CY-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    
    width: 70vw;
  }
  
  .desktop .an-creative {
    color: #1D1D1D;
    font-family: "Averta CY-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: 394px;
  }
  
  .uxdetail p {
    width:85vw;
  }
  
  .label .an-creative {
    color: #1D1D1D;
    font-family: "Averta CY-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    
    letter-spacing: 0;
    line-height: normal;
    
    
    width:70vw;
  }
  .btnbox {
    position :relative;
    top: 5vh;
    width:95vw;
    display:inline-flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
  }
  
  .btnbox button {
    z-index: 2;
    display:inline-flex;
    align-items: center;
      padding: 0 15px;
      height: 30px;
      width: auto;
      background-color: #1D1D1D;
      color: #D7D7D7;
      font-family: "Averta CY-Semibold", Helvetica;
      border-radius: 16px;
      font-size: 14px;
      
  }
  .btnbox button span {
    cursor: pointer;
  }
  .round {
    display:block;
    height:14px;
    width:14px;
    border-radius: 8px;
    background-color: #71FFA1;
  }
  
}