.body {
    height:100vh;
    width:100vw;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    
    background-color: #999999;
}
.backbtn {
    position :absolute;
    display: flex;
    
    top: 9vh;
    left: 5vw;
}

.backbtn span svg {
    display: block;
    height: 2vh;
    top: 2px;
    position: relative;
    width: auto !important;
}
.backbtn span {
   display:block;
   width:1.5vw;
}
.backbtn a {
    font-family: "Averta CY-Bold", Helvetica;
    display: flex;
    flex-direction: row;
}
.cont {
    font-family:"Averta CY-Regular", Helvetica;
}
.pimgs {
    width: auto;
    height: 90vh;
}