.overlap-group {
  height: 1565px;
  left: 219px;
  position: absolute;
  top: 4028px;
  width: 1543px;
}

.overlap-group .text-wrapper-3 {
  color: #000000;
  font-family: "Averta CY-Bold", Helvetica;
  font-size: 32px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1525px;
}

.overlap-group .img {
  height: 1526px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1543px;
}
